.detalle{
    background-color: rgba(9,5,2,0.8);
    flex: auto;
    padding: 8rem;
    height: 50rem;
    display: flex;
    border-radius: 10px;
}

.img{
    width: 500px; 
    height: 500px;
    border-radius: 100px;
    border:3px solid ; 
    border-color:#646cff;
}

.info{
    padding: 10px;
    height: 50px;
    width: 1000 px;
    font-size: 15px;
    
}