.paginate {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(3, 3, 3, 0.6);
  color: #fff;
  padding: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

