.Cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 5%; 
  }
  
  /* Estilos Responsivos */
  @media only screen and (max-width: 768px) {
    .Cards {
      margin-left: 2%; 
      margin-top: 70%;
    }
  }
  