.Card{
    width: 320px;
    height: 490px;
    border-radius: 10px;
    background-color: rgba(9, 5, 2, 0.8);
    margin: 40px;
    z-index: 1;
    margin-top: 100px;
}

.Image{
    width: 320px; 
    height: 250px;
    border-radius: 10px;
}

.Ruta{
  color: #ffff;
}

/* Estilos Responsivos */
@media only screen and (max-width: 768px) {
  .Card {
    width: 90%; /* Ajustado el ancho en pantallas más pequeñas */
    height: auto; /* Cambiado a "auto" para adaptarse al contenido */
    margin: 20px; /* Ajustado el margen en pantallas más pequeñas */
    margin-top: 50px; /* Ajustado el margen superior en pantallas más pequeñas */
  }

  .Image {
    height: auto; /* Cambiado a "auto" para adaptarse al contenido */
  }
}