.Card{
    width: 300px;
    height: 470px;
    border-radius: 10px;
    background-color: rgba(9,5,2,0.8);
    margin: 30px;
    color: white;
    z-index: 1;
    border:3px solid ; 
    border-color:#02e7fcaf;
    border-radius: 15px;
}


.Image{
    width: 200px; /* Cambiar el valor según tus necesidades */
    height: auto;
}