.Card{
    width: 320px;
    height: 490px;
    border-radius: 10px;
    background-color: rgba(9, 5, 2, 0.8);
    margin: 40px;
    z-index: 1;
    margin-top: 100px;
}

.Image{
    width: 320px; 
    height: 250px;
    border-radius: 10px;
}

.Ruta{
  color: #ffff;
}