.Contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.Imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
}

.Welcom{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: rgba(59, 58, 58, 0.719);
}

.Titulo{
    color: #fff;
}